.button {
  border: 2px solid black;
  display: inline-block;
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  span {
    font-size: 28px;
    font-weight: 500;
  }
}
.button:hover {
  box-shadow: 2px 2px 2px 2px grey;
  background-color: rgb(237, 237, 237);
}
