.wrap {
  background-color: antiquewhite;
}
.title {
  text-align: center;
  font-size: 46px;
  background-color: rgb(255, 248, 186);
}
.flex {
  position: relative;
  display: flex;
  gap: 20px;
  padding: 40px;
  border: 2px solid black;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(210, 105, 30, 0.586);
  border-radius: 8px;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
}
.input {
  padding: 6px 16px;
  width: 190px;
  background-image: rgba(215, 110, 35, 0.841);
  border-radius: 8px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 36px;
  border-radius: 12px;
  background-color: rgb(80, 33, 0);
  color: white;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}
.button2:hover,
.button:hover {
  background-color: rgba(210, 105, 30, 0.586);
}
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  height: 36px;
  border-radius: 12px;
  background-color: rgb(80, 33, 0);
  color: white;
  transition: all 350ms ease-in-out;
  cursor: pointer;
  margin: 20px auto;
}
.icon {
  position: absolute;
  top: 5px;
  left: 5px;
}
.silewrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.smile {
  color: rgba(210, 105, 30, 0.586);
}
