.flex {
  display: flex;
  gap: 20px;
  padding: 40px;
  border: 2px solid black;
  width: 400px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(210, 105, 30, 0.586);
  border-radius: 8px;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  gap: 20px;
}
.input {
  padding: 6px 16px;
  width: 190px;
  background-image: rgba(215, 110, 35, 0.841);
  border-radius: 8px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 36px;
  border-radius: 12px;
  background-color: rgb(80, 33, 0);
  color: white;
}
.button:hover {
  background-color: rgba(210, 105, 30, 0.586);
}
