.title {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-dark);
  text-shadow: 1px 1px 2px #9e9e9e;

  text-align: center;

  position: relative;

  &:after {
    display: block;
    content: "";

    position: absolute;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%);

    width: 50%;
    height: 2px;
    border-radius: 1px;
    background-color: var(--color-gray);
  }
}

.top {
  margin-top: 50px;
}

.bottom {
  margin-bottom: 50px;
}
.success {
  color: green;
}
.error {
  color: red;
}
.info {
  color: blue;
}
