*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  padding-left: 0;
  list-style: none;
}
.button {
  background-color: gold;
  color: black;
  padding: 10px;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  border-radius: 10px;
}
.button:hover {
  transform: scale(1.03);
  background-color: rgb(99, 84, 0);
  color: wheat;
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
